<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <div class="navigation">
      <ul>
        <button class="button **is-large is-success is-rounded**"><a href="/students/new">Add Student</a></button>

        <button class="button **is-large is-success is-rounded**"><a href="/logout">Logout</a></button>
      </ul>
    </div>
    <h2> All Student Parties </h2>

    <% @parties.each do |party| %>
      <div>
      <%= party.student_name %>'s party in the <%= party.venue %> on <%= party.party_date.strftime("%b %d") %><br>
        <% if party.teacher.id == current_user.id %>
          <button><a href="/parties/<%= party.id %>/edit">Edit Party</a></button>
          <form method="post" action="/parties/<%=party.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Party"><br><br>
        <% else %>
        <br><br>
        <% end %>
      </div>
    <% end %><br><br>


  </body>
</html>
